.login_button {
  color: white !important;
  padding: 1rem 2rem !important;
  font-weight: bold !important;
  border-radius: 0.7rem !important;
  margin-right: 1rem;
}

.login_modal {
  margin-top: 20rem;
}

@media (max-width: 1024px) {
  .login_button {
    padding: 0.5rem 1rem !important;
    font-size: 0.8rem !important;
  }

  .login_modal {
    margin-top: 15rem;
  }
}

@media (max-width: 425px) {
  .login_button {
    padding: 0.5rem 1rem !important;
    font-size: 0.8rem !important;
    margin-right: 0;
  }

  .login_modal {
    margin-top: 10rem;
  }
}
